<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings for PostgreSQL -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hm3</property>
<!--        <property name="hibernate.connection.url">jdbc:postgresql://db:5432/hm3</property>-->
        <property name="hibernate.connection.username">twomoelvis</property>
        <property name="hibernate.connection.password">emt@1968</property>

        <!-- PostgreSQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- ADD THIS PROPERTY -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Show SQL queries -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Automatically update schema -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Time zone -->
        <property name="hibernate.jdbc.time_zone">UTC</property>

        <!-- Entity mappings -->
        <mapping class="org.example.models.entities.Patient"/>
        <mapping class="org.example.models.entities.Appointment"/>
        <mapping class="org.example.models.entities.User"/>
        <mapping class="org.example.models.entities.Doctor"/>
        <mapping class="org.example.models.entities.Staff"/>
        <mapping class="org.example.models.entities.MedicalRecord"/>


    </session-factory>
</hibernate-configuration>
